.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
  box-sizing: border-box;
}


@media screen and (max-width:1080px) {
  .places {
    max-width: 973px;
    padding-top: calc((100vw - 768px)/(1024 - 768) * (92 - 88) + 88px);
    margin-left: calc((100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
    margin-right: calc((100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
  }
}

@media screen and (max-width:768px) {
  .places {
    max-width: 973px;
    padding-top: calc((100vw - 320px)/(768 - 320) * (88 - 64) + 64px);
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 668px) {
  .places {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 66px;
  }
}
