.header{
  max-width: calc(100% - 96px);
  min-width: 288px;
  margin: 28px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 794px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 752px) {
  .header {
    max-width: calc(100% - 32px);
  }
}

@media screen and (max-width: 560px) {
  .header {
    margin-top: 5%;
  }
}
