.header{
  max-width: 100%;
  min-width: 288px;
  margin: 28px 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-left: calc((100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
    margin-right: calc((100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: calc((100vw - 320px)/(768 - 320) * (24 - 16) + 16px);
    margin-right: calc((100vw - 320px)/(768 - 320) * (24 - 16) + 16px);
  }
}

@media screen and (max-width: 560px) {
  .header {
    margin-top: 5%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
}

