.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.04;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 720px) {
  .lead__title {
    margin-bottom: 5%;
    min-width: 93.8%;
    font-size: calc( (100vw - 320px)/(720 - 320) * (96 - 40) + 40px);
  }
}

@media screen and (max-width: 448px) {
  .lead__title {
    line-height: 1.10;
  }
}
