.place__paragraph {
  margin: 0 0 26px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 880px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 668px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
