.cover__title {
  margin: 0 0 32px;
  max-width: 560px;
  text-align: center;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-rendering: optimizeLegibility;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__title{
    font-size: calc((100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
  }
}

@media screen and (max-width: 320px) {
  .cover__title{
    font-size: 32px;
    margin-bottom: 16px;
  }
}
