.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(340px, 460px) 40px minmax(352px, 484px);
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width: 1080px) {
  .place {
    -ms-grid-columns: minmax(340px, 440px) 32px minmax(352px, 484px);
    grid-template-columns: minmax(340px, 440px) minmax(352px, 484px);
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    -ms-grid-columns: minmax(320px, 340px) 28px minmax(288px, 352px);
    grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 668px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 32px;
    margin-bottom: 50px;
  }
}
