.place__url-heading {
  margin: 0 0 12px;
  color: #AAAAAA;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
}
